/*
////////////////////////
////TYPOGRAPHY STYLES
*/

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}

.navigation {
  font-size: 2.8rem;
  font-weight: 300;
  &__link {
    @include respond(tab-port) {
      font-size: 1rem;
    }
    @include respond(tab-land) {
      font-size: 1.5rem;
    }
  }
}

.header {
  &__text {
    font-weight: 300;
  }
  &__main {
    font-size: 4rem;
    font-weight: inherit;
    line-height: 1.2;
    @include respond(tab-land) {
      font-size: 5.5rem;
    }
  }
  &__sub {
    font-size: inherit;
    font-weight: 500;
  }
}
.about {
  &__header {
    font-size: 4rem;
    font-weight: 400;
  }

  &__para {
    line-height: 1.7;
    font-size: inherit;
  }
}

.feature {
  &__header {
    &__heading {
      font-size: 4rem;
      font-weight: 400;
    }
    &__para {
      font-size: inherit;
    }
  }

  &__card {
    &__heading {
      font-size: 2rem;
      font-weight: 400;
    }

    &__text {
      font-size: 1.49rem;
      font-weight: 400;
    }
  }
}

.slider {
  &__header {
    &__heading {
      font-size: 4rem;
      font-weight: 400;
    }
  }
}
.slide {
  &__header {
    font-size: 2rem;
    font-weight: 400;
  }

  &__para {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
.article {
  &__header {
    &__heading {
      font-size: 3.75rem;
      font-weight: 500;
    }
  }
  &__card {
    &__author {
      font-size: 1rem;
      font-weight: 400;
    }

    &__heading {
      font-size: 1.55rem;
      font-weight: 400;
    }

    &__desc {
      font-size: 1.45rem;
      font-weight: 400;

      @include respond(tab-land) {
        font-size: 1.25rem;
      }
    }
  }
}
.form {
  &__header {
    font-size: 4rem;
    font-weight: 400;
  }
  &__field {
    font-size: 1.45rem;
    font-weight: 400;
  }
  &__error-msg {
    font-size: 1.3rem;
  }
}

.pricing {
  &__header {
    &__heading {
      font-size: 4rem;
      font-weight: 400;
    }
    &__para {
      font-size: inherit;
    }
  }

  &__card {
    &__header {
      color: var(--color-primary-2);
      font-size: 3rem;
      font-weight: 400;
    }

    &__list {
    }

    &__item {
      color: var(--color-neutral-1);
      font-size: 2rem;
      font-weight: 400;
    }
  }
}

.footer {
  &__link {
    font-size: 1.3rem;
    font-weight: 300;
    @include respond(tab-land) {
      font-size: 1.6rem;
    }
  }

  &__trademark {
    font-size: 1rem;
    font-weight: 400;
  }
}
