/*
///////////////////
//respond at breakpoints for mobiles tablets and pcs
*/
/*
## Colors

### Primary

- Black: hsl(0, 0%, 0%);
- Gold: hsl(44, 46%, 58%);

### Neutral

- Very light green: hsl(99, 50%, 92%);
- Black : hsl(0, 0%, 100%);
*/
:root {
  --color-primary-1: hsl(0, 0%, 0%);
  --color-primary-2: hsl(44, 46%, 55%);
  --color-neutral-1: hsl(98, 56%, 86%);
  --color-neutral-2: hsl(0, 0%, 100%); }

/*Animations*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 40.625%; }
  @media only screen and (min-width: 18.75em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 75em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-primary-2);
  overflow-x: hidden; }

/*
////////////////////////
////TYPOGRAPHY STYLES
*/
body {
  font-family: 'Public Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5; }

.navigation {
  font-size: 2.8rem;
  font-weight: 300; }
  @media only screen and (min-width: 37.5em) {
    .navigation__link {
      font-size: 1rem; } }
  @media only screen and (min-width: 56.25em) {
    .navigation__link {
      font-size: 1.5rem; } }

.header__text {
  font-weight: 300; }

.header__main {
  font-size: 4rem;
  font-weight: inherit;
  line-height: 1.2; }
  @media only screen and (min-width: 56.25em) {
    .header__main {
      font-size: 5.5rem; } }

.header__sub {
  font-size: inherit;
  font-weight: 500; }

.about__header {
  font-size: 4rem;
  font-weight: 400; }

.about__para {
  line-height: 1.7;
  font-size: inherit; }

.feature__header__heading {
  font-size: 4rem;
  font-weight: 400; }

.feature__header__para {
  font-size: inherit; }

.feature__card__heading {
  font-size: 2rem;
  font-weight: 400; }

.feature__card__text {
  font-size: 1.49rem;
  font-weight: 400; }

.slider__header__heading {
  font-size: 4rem;
  font-weight: 400; }

.slide__header {
  font-size: 2rem;
  font-weight: 400; }

.slide__para {
  font-size: 1.5rem;
  font-weight: 400; }

.article__header__heading {
  font-size: 3.75rem;
  font-weight: 500; }

.article__card__author {
  font-size: 1rem;
  font-weight: 400; }

.article__card__heading {
  font-size: 1.55rem;
  font-weight: 400; }

.article__card__desc {
  font-size: 1.45rem;
  font-weight: 400; }
  @media only screen and (min-width: 56.25em) {
    .article__card__desc {
      font-size: 1.25rem; } }

.form__header {
  font-size: 4rem;
  font-weight: 400; }

.form__field {
  font-size: 1.45rem;
  font-weight: 400; }

.form__error-msg {
  font-size: 1.3rem; }

.pricing__header__heading {
  font-size: 4rem;
  font-weight: 400; }

.pricing__header__para {
  font-size: inherit; }

.pricing__card__header {
  color: var(--color-primary-2);
  font-size: 3rem;
  font-weight: 400; }

.pricing__card__item {
  color: var(--color-neutral-1);
  font-size: 2rem;
  font-weight: 400; }

.footer__link {
  font-size: 1.3rem;
  font-weight: 300; }
  @media only screen and (min-width: 56.25em) {
    .footer__link {
      font-size: 1.6rem; } }

.footer__trademark {
  font-size: 1rem;
  font-weight: 400; }

/*
//////////////////////
////BUTTON
*/
.btn, .btn:link, .btn:visited {
  height: 4.4rem;
  width: 16.5rem;
  border-radius: 10rem;
  text-align: center;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.2s;
  outline: none;
  border: none; }

.btn:hover {
  transform: translateY(-3px);
  outline: none;
  border: none; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px); }

.btn--main {
  color: var(--color-neutral-2);
  background-image: linear-gradient(to right, var(--color-primary-2), var(--color-primary-2)); }

.btn--sub {
  color: var(--color-neutral-1);
  background-image: linear-gradient(to right, var(--color-primary-1), var(--color-primary-1)); }

.btn--cta {
  background-image: linear-gradient(to right, #ffe600, #ffe600); }

/*
///////////////
//FORM STYLES
*/
.form__block {
  text-align: center; }

.form__style {
  text-align: center;
  padding: 2rem 8rem;
  box-shadow: 0 1rem 0.5rem HSLA(0, 0%, 0%, 0.2); }
  .form__style--accent {
    background-color: var(--color-primary-2); }
  .form__style--neutral {
    background-color: var(--color-primary-2);
    background: linear-gradient(to right, transparent -10%, var(--color-primary-2)), url(~/src/images/chuttersnap-aku7Zlj_x_o-unsplash.jpg) center center no-repeat;
    color: var(--color-primary-1);
    background-size: cover; }

.form__main {
  padding: 3rem 0;
  display: flex;
  flex-direction: column; }
  .form__main > * {
    margin: 0.65rem 2rem; }

.form__field {
  padding: 1.35rem 3rem;
  border: 1px solid HSLA(0, 0%, 0%, 0.1);
  border-radius: 0.5rem;
  outline: none; }
  .form__field:hover, .form__field:active, .form__field:focus {
    border: 1px solid var(--color-neutral-1);
    outline: none; }

.form__field-clear::placeholder {
  opacity: 0; }

.form__error-icon {
  background: no-repeat center right 5% url("../images/icon-error.svg");
  border: 1px solid var(--color-primary-1); }

.form__error {
  display: flex;
  background: no-repeat center right 5% url("../images/icon-error.svg");
  color: var(--color-primary-1);
  border: 1px solid var(--color-primary-1); }

.form__error-msg {
  align-self: flex-end; }

/*
////////////////////
//Slider component style
*/
.slider__slide {
  width: 80%;
  align-self: center;
  position: relative;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center; }
  .slider__slide > * {
    grid-row: 1;
    grid-column: 1; }
  @media only screen and (min-width: 37.5em) {
    .slider__slide {
      align-items: center; } }

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 1s; }
  .slide > :not(:last-child) {
    margin-bottom: 2rem; }
  @media only screen and (min-width: 37.5em) {
    .slide {
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: center; }
      .slide > :not(:last-child) {
        margin-right: 4rem; } }
  .slide__img-container {
    flex: 1;
    object-fit: contain; }
    @media only screen and (min-width: 37.5em) {
      .slide__img-container {
        flex: 0 0 50%; } }
  .slide__img {
    width: 100%;
    object-fit: cover; }
  .slide__content > :not(:last-child) {
    margin-bottom: 2rem; }
  .slide__header {
    color: var(--color-primary-2); }
  .slide__para {
    color: var(--color-neutral-1); }

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: var(--color-primary-2);
  font-family: inherit;
  color: var(--color-primary-1);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 3.25rem;
  cursor: pointer;
  opacity: 0.7;
  outline: none; }
  @media only screen and (min-width: 37.5em) {
    .slider__btn {
      height: 5.5rem;
      width: 5.5rem; } }

.slider__btn--left {
  left: 8%;
  transform: translate(-50%, -50%); }
  @media only screen and (min-width: 37.5em) {
    .slider__btn--left {
      left: 13%; } }

.slider__btn--right {
  right: 8%;
  transform: translate(50%, -50%); }
  @media only screen and (min-width: 37.5em) {
    .slider__btn--right {
      right: 13%; } }

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

.dots__dot {
  border: none;
  background-color: var(--color-primary-2);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem hsla(0, 0%, 0%, 0.7); */ }

.dots__dot:last-child {
  margin: 0; }

.dots__dot--active {
  background-color: var(--color-primary-2);
  opacity: 1; }

/*
////////////
//Feature card
*/
.feature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 34rem; }
  .feature__card > :not(:last-child) {
    margin-bottom: 2.5rem; }
  .feature__card__icon {
    display: grid;
    place-items: center;
    border: 2px solid var(--color-primary-1);
    width: 7rem;
    height: 7rem; }
    .feature__card__icon > :first-child {
      width: 85%; }
  @media only screen and (min-width: 37.5em) {
    .feature__card > :not(:last-child) {
      margin-bottom: 3rem; } }
  @media only screen and (min-width: 56.25em) {
    .feature__card {
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;
      max-width: 26rem; } }
  @media only screen and (min-width: 75em) {
    .feature__card {
      max-width: 28.5rem; } }
  .feature__card__heading {
    color: var(--color-primary-1); }
  .feature__card__text {
    color: var(--color-neutral-1); }

/*
//////////////////
//Pricing Card

*/
.pricing__card {
  max-width: 36rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-neutral-1);
  padding: 3rem;
  box-shadow: 0 0.5rem 1rem var(--color-neutral-1);
  backface-visibility: hidden; }
  .pricing__card > :not(:last-child) {
    margin-bottom: 2rem; }
  .pricing__card:hover {
    transform: scale(1.05);
    box-shadow: none; }
  .pricing__card__list {
    list-style-type: none; }
    .pricing__card__list > :not(:last-child) {
      margin-bottom: 1rem; }
  .pricing__card__item {
    color: var(--color-primary-1); }
  .pricing__card__btn {
    align-self: center; }

/*
///////////////////////
//Header
*/
.header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-2); }
  @media only screen and (min-width: 37.5em) {
    .header {
      flex-direction: row;
      justify-content: center; } }
  .header__container-Text {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveInLeft 1s; }
    @media only screen and (min-width: 37.5em) {
      .header__container-Text {
        flex: 0 0 50%; } }
  .header__text {
    padding: 10rem 3rem 5rem;
    max-width: 45rem;
    color: var(--color-primary-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .header__text > * {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .header__text {
        padding: 8rem 0 5rem 3rem;
        text-align: left;
        align-items: flex-start; } }
    @media only screen and (min-width: 45em) {
      .header__text {
        padding: 13rem 0 7rem 3rem; } }
    @media only screen and (min-width: 75em) {
      .header__text {
        margin-left: 7rem; } }
  .header__main {
    color: var(--color-primary-1); }
  .header__sub {
    color: var(--color-neutral-1); }
  .header__container-Hero {
    padding: 5rem;
    display: grid;
    place-items: center;
    align-content: center;
    justify-content: center;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    animation: moveInRight 1s; }
  .header__img {
    width: 100%;
    height: 100%;
    display: block;
    box-shadow: 0 1rem 1rem var(--color-primary-1);
    background: linear-gradient(45deg, --color-primary-1, transparent); }
    @media only screen and (min-width: 37.5em) {
      .header__img {
        width: 75%; } }
    .header__img:hover {
      border: 1rem solid var(--color-primary-1);
      padding: 1rem;
      transform: scale(1.2);
      backface-visibility: hidden;
      box-shadow: none; }
  .header__img--1 {
    grid-row: 1/3;
    grid-column: 1/3; }
  .header__img--2 {
    grid-row: 2/4;
    grid-column: 2/4; }
  .header__img--3 {
    grid-row: 3/-1;
    grid-column: 1/3; }

/*
////////////////////////
////NAVIGATION SECTION
*/
.nav__container {
  width: 100%;
  z-index: 2000;
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--color-primary-1);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  animation: moveInLeft 1s; }

.nav__container.sticky {
  position: fixed;
  background: linear-gradient(var(--color-primary-1), transparent 400%); }

.nav {
  position: relative;
  z-index: 9;
  width: 90%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav > :last-child {
    display: none; }
  @media only screen and (min-width: 37.5em) {
    .nav > :last-child {
      display: inline-flex; } }
  .nav__icon {
    width: 9rem; }
  @media only screen and (min-width: 56.25em) {
    .nav {
      width: 80%; } }

.navigation {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-self: stretch; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    position: relative;
    z-index: 2000;
    cursor: pointer; }
    @media only screen and (min-width: 37.5em) {
      .navigation__button {
        display: none; } }
  .navigation__nav {
    box-shadow: 0 1rem 5rem var(--color-primary-1);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 2rem 0;
    border-radius: 1rem;
    position: fixed;
    top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .navigation__nav--visible {
      opacity: 1;
      display: flex;
      background: var(--color-primary-1); }
    @media only screen and (min-width: 37.5em) {
      .navigation__nav {
        width: 100%;
        align-items: stretch;
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 0;
        opacity: 1;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        background-color: transparent;
        box-shadow: none; } }
  .navigation__link:link, .navigation__link:visited {
    color: var(--color-primary-2);
    text-decoration: none;
    transition: all 0.4s;
    border-bottom: 0.5rem solid transparent;
    padding: 1rem 0; }
    @media only screen and (min-width: 37.5em) {
      .navigation__link:link, .navigation__link:visited {
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2.5rem;
        cursor: pointer;
        color: var(--color-primary-2); } }
  .navigation__link:hover, .navigation__link:active {
    color: var(--color-neutral-1);
    border-image: linear-gradient(to right, var(--color-neutral-1), var(--color-primary-2)) 1; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
    width: 30px; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 0.25rem;
      background-color: var(--color-primary-2);
      display: inline-block; }
    .navigation__icon::before, .navigation__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
    @media only screen and (min-width: 37.5em) {
      .navigation__icon {
        display: none; } }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) brightness(0.75) contrast(0.75);
  z-index: 100;
  transition: all 0.2s; }

.hidden {
  visibility: hidden;
  opacity: 0; }

/*
////////////////////////
////FOOTER - SECTION
*/
.footer {
  width: 100%;
  background-color: var(--color-primary-2);
  color: var(--color-neutral-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5rem 0 1rem; }
  .footer__container {
    width: 90%;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__container > * {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 37.5em) {
      .footer__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        justify-content: space-between; } }
    @media only screen and (min-width: 56.25em) {
      .footer__container {
        width: 80%; } }
  .footer__logo {
    justify-self: stretch; }
  .footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .footer__social > * {
      margin-bottom: 3rem; }
    @media only screen and (min-width: 37.5em) {
      .footer__social {
        align-items: flex-start; }
        .footer__social > * {
          margin-bottom: 1rem; } }
    .footer__social__icons {
      display: flex; }
      .footer__social__icons > :not(:last-child) {
        margin-right: 2rem; }
      @media only screen and (min-width: 37.5em) {
        .footer__social__icons > :not(:last-child) {
          margin-right: 1.5rem; } }
    .footer__social__icon-logo {
      height: 3rem;
      width: 3rem; }
      .footer__social__icon-logo:active, .footer__social__icon-logo:hover {
        transform: translateY(-0.2rem);
        cursor: pointer; }
  .footer__logo {
    width: 9rem;
    height: 9rem; }
  .footer__menu {
    display: flex;
    flex-direction: column; }
    @media only screen and (min-width: 37.5em) {
      .footer__menu {
        flex-direction: row; } }
  .footer__menu-1 > * {
    margin-bottom: 2rem; }
  .footer__menu-2 > * {
    margin-bottom: 2rem; }
  .footer__menu-1, .footer__menu-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 37.5em) {
      .footer__menu-1, .footer__menu-2 {
        margin-right: 4rem;
        justify-content: flex-start;
        align-items: flex-start; } }
    @media only screen and (min-width: 56.25em) {
      .footer__menu-1, .footer__menu-2 {
        margin-right: 15rem; } }
  .footer__link {
    color: var(--color-neutral-2);
    text-decoration: none; }
    .footer__link:active, .footer__link:hover {
      color: var(--color-primary-1); }
  .footer__trademark {
    color: var(--color-neutral-2);
    opacity: 0.5; }

/*
//////////////////////////
//Home page
/////////////////////////////
*/
.section {
  transition: transform 1s, opacity 1s;
  box-shadow: 0 0 0.1rem currentColor; }

.section--hidden {
  opacity: 0;
  transform: translateY(8rem); }

.about {
  background-color: var(--color-primary-1);
  background: linear-gradient(45deg, transparent -350%, var(--color-primary-1) 100%), url(~/src/images/ohtilly-2iu_qKPbjSk-unsplash.jpg) center center no-repeat;
  background-size: cover;
  color: var(--color-primary-2);
  padding: 10rem 3rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 37.5em) {
    .about {
      padding: 10rem 0; } }
  .about__container {
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media only screen and (min-width: 56.25em) {
      .about__container {
        align-items: flex-start; } }
  .about__header {
    margin-bottom: 2rem; }
  .about__para {
    color: var(--color-neutral-1);
    text-align: center;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .about__para {
        text-align: left; } }

.feature {
  background-color: var(--color-primary-2);
  padding: 10rem 3rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 37.5em) {
    .feature {
      padding: 10rem 0; } }
  .feature__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .feature__container > :not(:last-child) {
      margin-bottom: 7rem; }
  .feature__header {
    max-width: 65rem;
    text-align: center;
    align-self: center; }
    .feature__header > :not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .feature__header {
        text-align: left;
        align-self: flex-start; } }
    .feature__header__heading {
      color: var(--color-primary-1); }
    .feature__header__para {
      color: var(--color-neutral-1); }
  .feature__card-container {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; }
    .feature__card-container > * {
      padding-bottom: 3.5rem; }
    @media only screen and (min-width: 37.5em) {
      .feature__card-container > * {
        padding-right: 2rem; } }
    @media only screen and (min-width: 75em) {
      .feature__card-container > * {
        padding-right: 4rem; } }

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 3rem;
  background-color: var(--color-primary-1);
  overflow: hidden; }
  @media only screen and (min-width: 37.5em) {
    .slider {
      padding: 10rem 16rem; } }
  .slider__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .slider__header {
    margin-bottom: 4rem;
    align-self: flex-start; }
    @media only screen and (min-width: 56.25em) {
      .slider__header {
        align-items: flex-start;
        justify-content: flex-start; } }
    .slider__header__heading {
      color: var(--color-primary-2); }

.pricing {
  background-color: var(--color-primary-2);
  padding: 10rem 3rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 37.5em) {
    .pricing {
      padding: 10rem 0; } }
  .pricing__container {
    display: flex;
    flex-direction: column; }
    .pricing__container > :not(:last-child) {
      margin-bottom: 7rem; }
  .pricing__header {
    max-width: 65rem;
    text-align: center;
    align-self: center; }
    .pricing__header > :not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (min-width: 56.25em) {
      .pricing__header {
        text-align: left;
        align-self: flex-start; } }
    .pricing__header__heading {
      color: var(--color-primary-1); }
    .pricing__header__para {
      color: var(--color-neutral-1); }
  .pricing__card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .pricing__card-container > :not(:last-child) {
      margin-bottom: 3rem; }
    @media only screen and (min-width: 56.25em) {
      .pricing__card-container {
        flex-direction: row; }
        .pricing__card-container > :not(:last-child) {
          margin-right: 7rem;
          margin-bottom: unset; } }

.form__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  background-color: var(--color-primary-1); }
  @media only screen and (min-width: 37.5em) {
    .form__section {
      padding: 10rem; } }

.form__container {
  max-width: 75rem;
  width: 100%; }

.form__header {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary-2); }
  @media only screen and (min-width: 56.25em) {
    .form__header {
      align-items: flex-start;
      justify-content: flex-start; } }

.hover-this {
  border-bottom: 1rem solid transparent;
  display: inline-block; }
  .hover-this:hover {
    cursor: pointer;
    border-bottom: 1rem solid;
    color: var(--color-neutral-1);
    border-image: linear-gradient(to right, var(--color-neutral-1), var(--color-primary-2)) 1; }
